
<main class="profile-page">
  <section class="relative block" style="height: 400px;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("{{ data.pageHeroImage }}");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-gray-300">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="text-center mt-6">
            <h3 class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2">
              {{ data.pageTitle }}
            </h3>
            <span>developed by</span>
            <h1 class="font-bold">{{ data.authorName }}</h1>
            <div class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i> {{ data.authorLocation }}<br />
              <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i>{{ data.authorProfession }}<br />
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i>{{ data.authorFirstGraduation }} of {{
              data.authorFirstGraduationUniversity }}<br />
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i>{{ data.authorSecondGraduation }} of {{
              data.authorSecondGraduationUniversity }}
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-gray-300 text-justify">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-gray-800">
                  {{ data.authorDescription }}
                </p>
                <div class="text-center">
                  <h4 class="text-3xl font-semibold">Mais sobre mim...</h4>
                  <a *ngFor="let socialLink of data.socialLinks" href="{{ socialLink.link }}" target="_blank" class="bg-white text-{{ socialLink.color }} shadow-lg font-normal h-30 w-30 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-6" type="button"><i class="text-6xl flex fab {{ socialLink.faIcon }}"></i></a>
                </div>
                <div class="text-center">
                  <h4 class="text-3xl font-semibold">Repositório deste Projeto Boilerplate no GitHub:</h4>
                  <a href="{{ data.pageSocialLink.link }}" target="_blank" class="bg-white text-{{ data.pageSocialLink.color }} shadow-lg font-normal h-30 w-30 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-6" type="button"><i class="text-6xl flex fab {{ data.pageSocialLink.faIcon }}"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
